<div id="footer" class="panel">
    <div class="panel-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">

                    <p>&copy 2020 MASS Lab </p>

                    <p>
                        <a target="_blank" href="https://ece.umass.edu">{{site.department}}</a> @ <a target="_blank" href="https://umass.edu/">{{site.school}}</a>.
                    </p>



                </div>
                <div class="col-sm-4">
                    <!--todo: Funding Info-->
                    Funding:<br/>
                    - <a target="_blank" href="https://www.google.com">Fuding A (PLEASE CHANGE)</a> <br/>
                    - <a target="_blank" href="https://www.google.com">Funding B (PLEASE CHANGE)</a> <br/>
                </div>
                <div class="col-sm-4">
                    <!--todo: Address Info-->
                    Contact:<br/>
                    Address line 1 (PLEASE CHANGE)<br/>
                    Address line 2 (PLEASE CHANGE)<br/>
                    Address line 3 (PLEASE CHANGE)<br/>
                    United States (PLEASE CHANGE) <br/>
                    (<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps (PLEASE CHANGE)</a>, <a
                        href="http://www.physics.leidenuniv.nl/travel-directions">Directions (PLEASE CHANGE)</a>)
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
